<div id="biz_header">
	<h1 id="biz_title"><%= @business.name %></h1>
</div>

<div id="biz_body">
	<% @menus.each do |m| %>
		<div id="vote" class="panel panel-default upbox">
	   		<div class="menu_item">
	   			<span class="vote_buttons"><%= link_to '&#9650'.html_safe, menu_like_path(vote: 'up', restaurant_id: params[:id], menu_id: m.id), method: :post %></span> 
		   		<span class="vote_buttons"><%= m.likes %></span> 
		    	<span class="vote_buttons"><%= link_to '&#9660'.html_safe, menu_like_path(vote: 'down', restaurant_id: params[:id], menu_id: m.id), method: :post %></span> 
		    </div>
		    <div class="text_buttons">
		    	<%= m.name %> <%= m.price %>
	    	</div>
	    	<div>
				<button class="showComment btn btn-danger" id="<%= m.id %>">Comment</button>
			</div>
		</div>

		<% @commentsort = Comment.where(menu_id: m.id).all %>
		<% @comments = @commentsort.sort_by{|comment| comment.likes}.reverse! %>
		<% @comments.each do |c| %>
			<div id="comment" class="panel panel-default upbox">
				<div class="menu_item">
		   			<span class="vote_buttons"><%= link_to '&#9650'.html_safe, comment_like_path(vote: 'up', restaurant_id: params[:id], comment_id: c.id), method: :post %></span> 
			   		<span class="vote_buttons"><%= c.likes %></span> 
			    	<span class="vote_buttons"><%= link_to '&#9660'.html_safe, comment_like_path(vote: 'down', restaurant_id: params[:id], comment_id: c.id), method: :post %></span> 
				</div>
				<div class="text_buttons">
					<%= c.comment %>
				</div>
			</div>
		<% end %>

		<div id="box<%= m.id %>" style="display: none;">
			<div id="commentBox">
			<%= form_for :comment, url: comment_user_path do |f| %>
				<%= hidden_field_tag "menu_id", m.id %>
				<%= hidden_field_tag "restaurant_id", params[:id] %> 
                <%= f.text_field :comment, class: "form-control" %> 
                <%= f.submit "Comment", class: "btn btn-danger" %>
            <% end %>
        	</div>
        </div>

	<% end %>
</div>