<div class="biz_header">
	<h1 class="biz_title"><%= @business.name %></h1>
</div>

<div>
</div>

<div class="biz_body">
	<% @menus.each do |m| %>
		<div id="vote" class="panel panel-default upbox">
	   		<div id="menu_vote_div" class="vote_div">
	   			<span class="vote_buttons voteButton"><%= link_to '&#9650'.html_safe, menu_like_path(vote: 'up', restaurant_id: params[:id], menu_id: m.id), method: :post %></span> 
		   		<span id="vote_count" class="vote_buttons"><%= m.likes %></span> 
		    	<span class="vote_buttons voteButton"><%= link_to '&#9660'.html_safe, menu_like_path(vote: 'down', restaurant_id: params[:id], menu_id: m.id), method: :post %></span> 
		    </div>
		    <div class="text_buttons">
		    	<h3 id="menu_language"><%= m.name %> <%= m.price %></h3>
	    	</div>
	    	<div>
				<button class="showComment btn btn-danger" id="<%= m.id %>">Comment</button>
			</div>
		</div>

		<% @commentsort = Comment.where(menu_id: m.id).all %>
		<% @comments = @commentsort.sort_by{|comment| comment.likes}.reverse! %>
		<% @comments.each do |c| %>
			<div id="comment" class="panel panel-default upbox">
				<div id="comment_vote_div" class="vote_div">
		   			<span class="vote_b	uttons voteButton"><%= link_to '&#9650'.html_safe, comment_like_path(vote: 'up', restaurant_id: params[:id], comment_id: c.id), method: :post %></span> 
			   		<span class="vote_buttons"><%= c.likes %></span> 
			    	<span class="vote_buttons voteButton"><%= link_to '&#9660'.html_safe, comment_like_path(vote: 'down', restaurant_id: params[:id], comment_id: c.id), method: :post %></span> 
				</div>
				<div class="text_buttons">
					<h3 id="comment_language"><%= c.comment %></h3>
				</div>
				<div>
				  	<% if c.user_id == session[:user_id] && session[:user_id] != nil %>
				  		<%= link_to 'delete', comment_delete_path(restaurant_id: params[:id], comment_id: c.id, menu_id: m.id, user_id: session[:user_id]), method: :delete %>
				  	<% end %>
				</div>
			</div>
		<% end %>

		<div id="box<%= m.id %>" style="display: none;">
			<div id="commentBox">
			<%= form_for :comment, url: comment_user_path do |f| %>
				<%= hidden_field_tag "menu_id", m.id %>
				<%= hidden_field_tag "restaurant_id", params[:id] %> 
                <%= f.text_area :comment, class: "form-control" %>
            	</br>
                <%= f.submit "Submit", class: "btn btn-danger" %>
            <% end %>
        	</div>
        </br>
        </div>

	<% end %>
</div>

<div class="biz_menu">
	<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#createMenu" id="fixedButton">
  		Don't see what you ordered? Post it up!
	</button>
</div>

<div class="modal fade" id="createMenu" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Feed the community!</h4>
      </div>
      <div class="modal-body">
      	<%= form_for :menu, url: create_menu_path do |f| %>
					</br>
							<%= hidden_field_tag "restaurant_id", params[:id] %> 
				        <div class="input-group">
				            <%= f.label :name, "Menu Item", class: "input-group-addon" %>
				            <%= f.text_field :name, class: "form-control" %>
				        </div>

				        <div class="input-group">
				            <%= f.label :price, class: "input-group-addon" %>
				            <%= f.text_field :price, class: "form-control" %>
				        </div>

				        <div class="input-group">
				            <%= f.label :description, class: "input-group-addon" %>
				            <%= f.text_area :description, class: "form-control" %>
				        </div>
				    </br>
				        <div class="input-group">
				        	<%= f.submit "Create", :class => "btn btn-danger" %>
				    	</div>
		<% end %>
      </div>
    </div>
  </div>
</div>